In [161]:
from datetime import datetime 
import re
import sqlite3
import sys
import numpy as np
import pandas as pd

import messages from textfile. Parse date,author, text (multiline) and message type. The textfile is created by exporting and emailing the chat conversation from the whatsapp chat settings

In [162]:
with open('messages.txt', encoding='utf-8') as file:
    content = file.readlines()
    data = []
    i=0
    while i<len(content):
        message = content[i]
        j=0

        while (i+j+1)<len(content) and not re.match('\d{2}/\d{2}/\d{4}, \d{2}:\d{2} - ',content[i+j+1]):
            messagecont = content[i+j+1]
            #print("adding multiline {}".format(messagecont))
            message = "{} {}".format(message,messagecont)
            i=i+1

        i=i+j

        p = message.find(' - ')
        date = message[0:p-1].strip()
        message = message[p+2:].strip()


        dt = datetime.strptime(date,'%d/%m/%Y, %H:%M')
        p = message.find(':')
        if (p==-1):
            system = True
            author = "system"
            message = message
        else: 
            system = False
            author = message[0:p].strip()
            message = message[p+1:].strip()

        #print("On {} {} wrote {}".format(dt,author,message))
        params = [dt,author,message,system]
        data.append(params)
        #c.execute("INSERT INTO messages (postdate,author,message,system) VALUES (?,?,?,?)",params)


        i=i+1

In [163]:
df = pd.DataFrame(data, columns=['postdate','author','text','systemmessage']  )

# Does Jeff communicate differently with Desi?

posts mentioning desi directly

In [164]:
pd.set_option('display.max_colwidth',120)
pd.set_option('display.max_rows',300)


df[ ( df["author"] == 'Jeff Vb') & ( df["text"].str.lower().str.contains("desi") | (df["text"].str.lower().str.contains("desy"))  ) ]

,postdate,author,text,systemmessage
5350,2016-06-07 09:05:00,Jeff Vb,"Desi, tu paies combien? ðŸ˜…",False
7997,2017-03-19 15:05:00,Jeff Vb,"Viens au BrÃ©sil, Desi, ici on joue tous les jours, et il y a du soleil tout le temps... ðŸ˜‰",False
9525,2017-06-07 11:00:00,Jeff Vb,"Desi, Patrick a insistÃ© pour que je te demande que tu prennes ton bikini mauve, il t'a trouvÃ©e admirable dans cet ha...",False
9810,2017-06-17 14:05:00,Jeff Vb,"Desi, Ã 18:30 avec Heven il nous en manquerait un?",False
10793,2017-07-20 22:03:00,Jeff Vb,"Merci Brian, je viens jouer avec toi Desi, si je peux... ðŸ˜‰",False

what was said when desi is in the conversation? Get the times when desi posted something and get posts by Jeff within some time window

In [ ]:
from datetime import datetime, timedelta

windowsizedownmin = 60*10
windowsizeupmin = 60

desiPosts = df[ df["author"] == "Desi Vb" ]
jeffPosts = df[ df["author"] == "Jeff Vb" ]

# which posts of Desi had a response from Jeff within a time window
windowsizemin = 60 
desiposts=desiposts.assign( tmp = np.nan )


conversation = []
for i,post in desiPosts.iterrows():
    addpost = False
    date = post["postdate"]
    end = date + timedelta(minutes=windowsizeupmin)
    start = date - timedelta(minutes=windowsizedownmin)
    
    for j,jpost in jeffPosts.iterrows():
        jdate = jpost["postdate"]
        if start < jdate and jdate < end:
            addpost = True
            conversation.append(jpost)

    if addpost:
            conversation.append(post)

cdf = pd.DataFrame(conversation).drop_duplicates()

cdf.sort_values('postdate')

writer = pd.ExcelWriter('desi-jeff-conversation.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
cdf.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

Who are the 10 most frequent chaters off all times?

In [5]:
df.groupby('author').count().sort_values('text',ascending=False).nlargest(10,'text')

                 postdate  text  systemmessage
author
Timo                 1288  1288           1288
Leandro Vb            740   740            740
Mirja Vb              658   658            658
system                518   518            518
Junior Vb             412   412            412
Desi Vb               375   375            375
Victor Barbe Vb       298   298            298
Antho Vb              296   296            296
Nico Vb               292   292            292
Jeff Vb               261   261            261

Group growth over time
First add new column to measure group size

In [20]:
df=df.assign( tmp = np.nan )
df=df.assign( nrmembers = np.nan )

In [24]:
df.loc[ (df["text"].str.contains("Ã©tÃ© ajoutÃ©") | df["text"].str.contains("Vous avez ajoutÃ©") ) & df["systemmessage"] == True , 'tmp' ] = 1
df.loc[ ( df["text"].str.contains("a Ã©tÃ© retirÃ©") | df["text"].str.contains("est parti") | df["text"].str.contains("Vous avez retirÃ©")  )  & df["systemmessage"] == True , 'tmp' ] = -1

In [31]:
counter=1
for index,row in df[ df["systemmessage"] ].iterrows():
    counter = counter + row["nrmembers"]
    df.loc(index,"nrmembers") = counter
df

SyntaxError: can't assign to function call (<ipython-input-31-e364b506a875>, line 4)

In [25]:
df[ df["systemmessage"] & df["text"].str.contains("Vous avez") ]

,postdate,author,text,systemmessage,tmp,nrmembers
0,2014-08-07 09:02:00,system,"Vous avez changÃ© le sujet en ""beach on rigolait""",True,NaN,NaN
2,2014-08-07 09:02:00,system,Vous avez changÃ© l'icÃ´ne de ce groupe,True,NaN,NaN
15,2014-08-07 09:05:00,system,"Vous avez changÃ© le sujet en ""beach on rigolai...",True,NaN,NaN
350,2014-08-29 15:04:00,system,Vous avez ajoutÃ© Maria Teresa Vb,True,1.0,NaN
511,2014-09-10 09:02:00,system,Vous avez ajoutÃ© David geneve volley,True,1.0,NaN
547,2014-09-15 10:03:00,system,Vous avez ajoutÃ© Marzia Vb,True,1.0,NaN
609,2014-09-18 12:00:00,system,Vous avez ajoutÃ© Natalia Vb,True,1.0,NaN
862,2014-10-04 18:05:00,system,Vous avez ajoutÃ© Julie Vb,True,1.0,NaN
863,2014-10-04 19:00:00,system,Vous avez ajoutÃ© Paul Vb,True,1.0,NaN
864,2014-10-04 19:00:00,system,Vous avez ajoutÃ© Petra Vb,True,1.0,NaN
865,2014-10-04 19:03:00,system,Vous avez ajoutÃ© Sevil Vb,True,1.0,NaN
959,2014-10-11 20:03:00,system,Vous avez ajoutÃ© Polyna Vb,True,1.0,NaN
1031,2014-10-20 11:05:00,system,Vous avez retirÃ© Ilaria Vb,True,-1.0,NaN
1032,2014-10-20 11:05:00,system,Vous avez ajoutÃ© Ilaria Vb,True,1.0,NaN
1139,2014-10-29 22:02:00,system,Vous avez ajoutÃ© Helen Vb,True,1.0,NaN
1180,2014-11-08 18:05:00,system,Vous avez ajoutÃ© Pit Vb,True,1.0,NaN
1399,2015-01-03 18:02:00,system,Vous avez ajoutÃ© Renan Vb,True,1.0,NaN
1475,2015-02-18 18:01:00,system,Vous avez ajoutÃ© Uta Vb,True,1.0,NaN
1502,2015-03-13 08:05:00,system,Vous avez ajoutÃ© Dila,True,1.0,NaN
1535,2015-03-19 13:00:00,system,Vous avez ajoutÃ© Edwin Vb,True,1.0,NaN
1551,2015-03-20 13:03:00,system,Vous avez ajoutÃ© Victor Barbe Vb,True,1.0,NaN
1567,2015-03-20 17:05:00,system,Vous avez ajoutÃ© Helena Vb,True,1.0,NaN
1588,2015-03-24 08:03:00,system,Vous avez ajoutÃ© Amandine Vb Carlos De Assis,True,1.0,NaN
1649,2015-03-27 11:00:00,system,Vous avez ajoutÃ© Aline Vb,True,1.0,NaN
1807,2015-04-08 12:01:00,system,Vous avez ajoutÃ© Amin Vb,True,1.0,NaN
1815,2015-04-08 17:01:00,system,Vous avez ajoutÃ© Jonathan Amadine Vb,True,1.0,NaN
1816,2015-04-08 17:01:00,system,Vous avez ajoutÃ© Ivan Rojkov,True,1.0,NaN
1821,2015-04-08 23:04:00,system,Vous avez ajoutÃ© Karen Walker Vb,True,1.0,NaN
1926,2015-04-14 01:01:00,system,"Vous avez ajoutÃ© Claudia Vb, Ilaria",True,1.0,NaN
1927,2015-04-14 01:01:00,system,Vous avez ajoutÃ© Andreas Vb,True,1.0,NaN
...,...,...,...,...,...,...
4905,2016-05-08 22:03:00,system,Vous avez ajoutÃ© Thomas Borga Vb,True,1.0,NaN
4927,2016-05-10 13:02:00,system,Vous avez ajoutÃ© Desi Vb,True,1.0,NaN
5032,2016-05-17 11:05:00,system,Vous avez ajoutÃ© Analisa Vb,True,1.0,NaN
5082,2016-05-21 09:02:00,system,Vous avez ajoutÃ© Ivan Friend Vb,True,1.0,NaN
5451,2016-06-14 22:01:00,system,Vous avez ajoutÃ© Junior Vb,True,1.0,NaN
5635,2016-07-01 13:01:00,system,Vous avez ajoutÃ© Athon Lo Coco,True,1.0,NaN
5636,2016-07-01 13:02:00,system,Vous avez ajoutÃ© Vittorio Bencini,True,1.0,NaN
5679,2016-07-03 19:00:00,system,Vous avez ajoutÃ© Mikael 2 Vb,True,1.0,NaN
5680,2016-07-03 19:00:00,system,Vous avez ajoutÃ© Alisa Vb,True,1.0,NaN
5708,2016-07-05 21:03:00,system,Vous avez ajoutÃ© Philippe Gonnet Vb,True,1.0,NaN
5855,2016-07-15 14:05:00,system,Vous avez ajoutÃ© Ariel Vb,True,1.0,NaN
6017,2016-07-21 21:01:00,system,Vous avez ajoutÃ© Luisa Vb,True,1.0,NaN
6417,2016-08-15 17:00:00,system,Vous avez ajoutÃ© Remy Vb,True,1.0,NaN
6418,2016-08-15 17:00:00,system,Vous avez ajoutÃ© Fabio Vb,True,1.0,NaN
8012,2017-03-22 14:04:00,system,Vous avez ajoutÃ© Rafael Vb,True,1.0,NaN
8102,2017-03-29 21:04:00,system,Vous avez ajoutÃ© Jofra Vb,True,1.0,NaN
8103,2017-03-29 21:04:00,system,Vous avez ajoutÃ© Alex Jenni Vb,True,1.0,NaN
8106,2017-03-30 09:05:00,system,Vous avez ajoutÃ© Adriano Vb,True,1.0,NaN
8126,2017-04-01 10:01:00,system,Vous avez ajoutÃ© Dunia Vb,True,1.0,NaN
8159,2017-04-02 17:01:00,system,Vous avez ajoutÃ© â€ª+41 79 258 68 20â€¬,True,1.0,NaN
8160,2017-04-02 17:01:00,system,Vous avez ajoutÃ© Gilles Vb,True,1.0,NaN
8166,2017-04-02 19:02:00,system,Vous avez ajoutÃ© David Marcos Vb,True,1.0,NaN
8167,2017-04-02 19:02:00,system,Vous avez ajoutÃ© Tarek Vb,True,1.0,NaN
8175,2017-04-04 13:03:00,system,Vous avez ajoutÃ© Kim Wmo,True,1.0,NaN
8181,2017-04-05 11:03:00,system,Vous avez ajoutÃ© Alicia Spain HGolay,True,1.0,NaN
8803,2017-05-07 12:05:00,system,Vous avez ajoutÃ© Nessa Vb,True,1.0,NaN
8972,2017-05-14 12:01:00,system,Vous avez ajoutÃ© Lauren Coop Beach Tour,True,1.0,NaN
9037,2017-05-16 18:00:00,system,Vous avez ajoutÃ© Jan Vb,True,1.0,NaN
9889,2017-06-21 00:03:00,system,Vous avez changÃ© l'icÃ´ne de ce groupe,True,NaN,NaN
11353,2017-08-09 13:04:00,system,Vous avez ajoutÃ© Fiston Olivier Vb,True,1.0,NaN